<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Edit Request ' + request.getId()}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">TP_LAB2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('SALESMAN')}"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Requests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('CLERK')}"
                           class="dropdown-item" th:href="@{/requests}">All</a>
                        <a th:if="${user.getRole().equals('CLERK')}"
                           class="dropdown-item" th:href="@{/requests/new}">Create</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <label class="form-control mr-sm-2" th:text="${#authentication.getName()}"></label>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <h1 th:text="${'Order Request ' + request.getId()}"></h1>
    <form th:method="PUT" th:action="@{/requests/{id}(id = ${request.getId})}" th:object="${request}">
        <h2>Common Data</h2>
        <p>
            <label th:text="${'Author: ' + request.getAuthor().getFirstName() + ' ' + request.getAuthor().getLastName()}"></label>
            <br/>
            <label th:text="${'Status: ' + request.getOrderStatus()}"></label>
            <br/>
            <label for="customer" th:text="${'Customer: '}"></label>
            <input id="customer" type="text" th:field="*{customerName}" pattern="^[ a-zA-z]*$" required/>
            <br/>
            <label for="address" th:text="${'Customer''s address: '}"></label>
            <input id="address" type="text" th:field="*{customerAddress}" pattern="^[ a-zA-z]*$" required/>
            <br/>
            <label th:text="${'Total price: ' + request.getTotalPrice()}"></label>
        </p>

        <div>
            <h2>Order positions:</h2>
            <label th:if="${request.getOrderPositions().isEmpty()}">There are no order positions at the moment</label>
            <table th:if="${!request.getOrderPositions().isEmpty()}" class="table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th>Price apiece</th>
                    <th>Quantity</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderPosition : ${request.getOrderPositions()}">
                    <td th:text="${orderPosition.getProduct().getName()}"></td>
                    <td th:text="${orderPosition.getProduct().getPrice()}"></td>
                    <td th:text="${orderPosition.getQuantity()}"></td>
                    <td>
                        <form th:method="patch"
                              th:action="@{/requests/{id}/products/{product_id}/remove(id = ${request.getId()}, product_id=${orderPosition.getProduct().getId()})}">
                            <label>
                                <input type="text" pattern="^[1-9][0-9]*$" th:default="1"
                                       placeholder="Quantity to remove"
                                       name="quantity">
                            </label>
                            <input class="btn btn-outline-danger my-2 my-sm-0" type="submit" value="-">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <hr/>
            <a class="btn btn-outline-primary my-2 my-sm-0"
               th:href="@{/requests/{id}/products(id = ${request.getId()})}">Add
                products</a>
            <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Save">
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>