<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Request ' + request.getId()}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">TP_LAB2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/products}">Products</a>
                </li>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Requests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/requests}">All</a>
                        <a class="dropdown-item" th:href="@{/requests/new}">Create</a>
                        <!--                        <div class="dropdown-divider"></div>-->
                        <!--                        <a class="dropdown-item" href="#">Something else here</a>-->
                    </div>
                </li>
                <li class="nav-item active">
                    <a class="btn btn-outline-primary my-2 my-sm-0" th:href="@{/requests/{id}/edit(id = ${request.getId()})}">Edit</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <h1 th:text="${'Order Request ' + request.getId()}"></h1>
    <h2>Common Data</h2>
    <p>
        <label th:text="${'Author: ' + request.getAuthor().getFirstName() + ' ' + request.getAuthor().getLastName()}"></label>
        <br/>
        <label th:text="${'Customer: ' + (request.getCustomerName() == null ? 'empty' : request.getCustomerName())}"></label>
        <br/>
        <label th:text="${'Customer''s address: ' + (request.getCustomerAddress() == null ? 'empty' : request.getCustomerAddress())}"></label>
        <br/>
        <label th:text="${'Total price: ' + request.getTotalPrice()}"></label>
    </p>
    <p>
        Order positions:
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>Product</th>
            <th>Price apiece</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orderPosition : ${request.getOrderPositions()}">
            <td th:text="${orderPosition.getProduct().getName()}">
                <!--            <a th:href="@{requests/{id}(id = ${request.getId()})}"-->
                <!--               th:text="${request.getId()}"></a>-->
            </td>
            <td th:text="${orderPosition.getProduct().getPrice()}"></td>
            <td th:text="${orderPosition.getQuantity()}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>