<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">DS_LAB</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/products}">All</a>
                        <a th:if="${user.getRole().equals('ADMIN')}"
                           class="dropdown-item" th:href="@{/products/new}">Create</a>
                    </div>
                </li>
                <li th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('SALESMAN')}"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li th:if="${user.getRole().equals('ADMIN')}" class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Requests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/requests}">All</a>
                        <a th:if="${user.getRole().equals('CLERK') || user.getRole().equals('ADMIN')}"
                           class="dropdown-item" th:href="@{/requests/new}">Create</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <label class="form-control mr-sm-2" th:text="${#authentication.getName()}"></label>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <h1>Orders</h1>
    <label th:if="${orders.isEmpty()}">There are no orders at the moment</label>
    <table th:if="${!orders.isEmpty()}" class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Author</th>
            <th>Status</th>
            <th>Total Price</th>
            <th th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('SALESMAN')}"></th>
            <th th:if="${user.getRole().equals('ADMIN')}"></th>
            <th th:if="${user.getRole().equals('ADMIN')}"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.getId()}"></td>
            <td th:text="${order.getAuthor().getFirstName() + ' ' + order.getAuthor().getLastName()}"></td>
            <td th:text="${order.getOrderStatus()}"></td>
            <td th:text="${order.getTotalPrice()}"></td>
            <td th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('SALESMAN')}">
                <a class="btn btn-outline-primary my-2 my-sm-0" th:href="@{/orders/{id}(id = ${order.getId()})}">View</a>
            </td>
            <td th:if="${user.getRole().equals('ADMIN') && order.getOrderStatus().equals('preparing')}">
                <a class="btn btn-outline-primary my-2 my-sm-0" th:href="@{/orders/{id}/edit(id = ${order.getId()})}">Edit</a>
            </td>
            <td th:if="${user.getRole().equals('ADMIN')}">
                <form class="form-inline my-2 my-lg-0" th:method="delete" th:action="@{/requests/{id}(id = ${order.getId()})}">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <hr/>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>