<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${'Request ' + request.getId()}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/home}">TP_LAB2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Products
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/products}">All</a>
                        <a th:if="${user.getRole().equals('ADMIN')}"
                           class="dropdown-item" th:href="@{/products/new}">Create</a>
                    </div>
                </li>
                <li th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('SALESMAN')}"
                    class="nav-item">
                    <a class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Requests
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a th:if="${user.getRole().equals('ADMIN') || user.getRole().equals('CLERK')}"
                           class="dropdown-item" th:href="@{/requests}">All</a>
                        <a th:if="${user.getRole().equals('CLERK')}"
                           class="dropdown-item" th:href="@{/requests/new}">Create</a>
                    </div>
                </li>
                <li th:if="${user.getRole().equals('CLERK') && request.getOrderStatus().equals('created')}" class="nav-item ">
                    <a class="btn btn-outline-primary my-2 my-sm-0"
                       th:href="@{/requests/{id}/edit(id = ${request.getId()})}">Edit</a>
                </li>
                <li th:if="${user.getRole().equals('CLERK') && request.getOrderStatus().equals('created')}" class="nav-item ">
                    <form th:method="patch" th:action="@{/requests/{id}/status(id = ${request.getId()})}">
                        <input type="hidden" name="redirect" th:value="${'/requests'}">
                        <input type="hidden" name="status" value="preparing">
                        <button type="submit" class="btn btn-outline-success ml-2 my-2 my-sm-0">Send to store</button>
                    </form>
                </li>
                <li th:if="${user.getRole().equals('CLERK') && request.getOrderStatus().equals('created')}" class="nav-item ">
                    <form th:method="patch" th:action="@{/requests/{id}/status(id = ${request.getId()})}">
                        <input type="hidden" name="redirect" th:value="${'/requests'}">
                        <input type="hidden" name="status" value="declined">
                        <button type="submit" class="btn btn-outline-danger ml-2 my-2 my-sm-0">Decline</button>
                    </form>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:method="post" th:action="@{/logout}">
                <label class="form-control mr-sm-2" th:text="${#authentication.getName()}"></label>
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Out</button>
            </form>
        </div>
    </nav>
</div>
<div class="container-fluid">
    <h1 th:text="${'Order Request ' + request.getId()}"></h1>
    <h2>Common Data</h2>
    <div class="form-group row">
        <label for="author" class="col-sm-2 col-form-label" th:text="${'Author: '}"></label>
        <div class="col-sm-10">
            <input id="author" readonly class="form-control-plaintext" type="text"
                   th:value="${request.getAuthor().getFirstName() + ' ' + request.getAuthor().getLastName()}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="status" class="col-sm-2 col-form-label" th:text="${'Status: '}"></label>
        <div class="col-sm-10">
            <input id="status" readonly class="form-control-plaintext" type="text"
                   th:value="${request.getOrderStatus()}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="customer" class="col-sm-2 col-form-label" th:text="${'Customer: '}"></label>
        <div class="col-sm-10">
            <input id="customer" readonly class="form-control-plaintext" type="text" th:value="${request.getCustomerName()}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="address" class="col-sm-2 col-form-label" th:text="${'Customer''s address: '}"></label>
        <div class="col-sm-10">
            <input id="address" readonly class="form-control-plaintext" type="text" th:value="${request.getCustomerAddress()}"/>
        </div>
    </div>
    <div class="form-group row">
        <label for="price" class="col-sm-2 col-form-label" th:text="${'Total price: '}"></label>
        <div class="col-sm-10">
            <input id="price" readonly class="form-control-plaintext" type="text"
                   th:value="${request.getTotalPrice()}"/>
        </div>
    </div>
    <div>
        <h2>
            Order positions:
        </h2>
        <label th:if="${request.getOrderPositions().isEmpty()}">There are no order positions at the moment</label>
        <table th:if="${!request.getOrderPositions().isEmpty()}" class="table">
            <thead>
            <tr>
                <th>Product</th>
                <th>Price apiece</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderPosition : ${request.getOrderPositions()}">
                <td th:text="${orderPosition.getProduct().getName()}">
                </td>
                <td th:text="${orderPosition.getProduct().getPrice()}"></td>
                <td th:text="${orderPosition.getQuantity()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <hr/>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>